body { font-family:"Lato",Helvetica,Arial,sans-serif !important; color:#393939 !important; font-size:13px; background:#FFF; }
h1,h2,h3,h4,h5,h6 { font-family: 'Ubuntu', sans-serif;; font-weight:400; }
.theme-logo { margin:80px auto; text-align:center; }
.theme-logo .fa { color:#F56F6C; }
.theme-text { font-size:56px; margin-bottom:30px; font-family: 'Ubuntu', sans-serif;; color:#393939; font-weight:600; }
.theme-text h1{font-size:56px;  font-weight:600; }
.theme-text h2{font-weight:600; }
.theme-logo .btn-success { font-size:18px; font-weight:600; margin-right:10px; width:220px; line-height:30px; }
.has-warning .fa { color:#F9A646; }
.has-error .fa { color:#D44344; }
.has-success .fa { color:#0FB492; }
.right-inner-icon { position:relative; }
.right-inner-icon i { padding:9px 12px; pointer-events:none; position:absolute; right:0; font-size:25px; }
.left-inner-icon { position:relative; }
.left-inner-icon i { color:#ccc; padding:12px 15px; pointer-events:none; position:absolute; font-size:16px; }
.btn-anchor { margin:5px 3px; }
#source-button { position:absolute; top:0; right:0; z-index:100; font-weight:700; }
.bs-example { position:relative; }
.flat-form { background:#fff; padding:20px; box-shadow:0 0 2px 0 #ccc; }
.flat-form .header { color:#222; font-weight:200; margin-bottom:20px; border-bottom:1px solid #ccc; padding-bottom:20px; }
.flat-form .header h3 { margin-top:0; margin-bottom:0; font-weight:200; }
.flat-form .header label { font-weight:400; }
.display-wizard { background:none repeat scroll 0 0 #fff; border-bottom:1px solid #e2e2e2; border-left:1px solid #efefef; border-radius:3px; border-right:1px solid #efefef; box-shadow:0 1px 0 0 rgba(0,0,0,0.04); margin-bottom:40px; padding:20px; position:relative; transition:padding 500ms ease 0; }
.alert-bg-white { background:#fff !important; border-color:#d5d5d5 !important; color:#404040 !important; padding-left:61px; position:relative; }
.alert-bg-white .alert-link { color:#333 !important; }
.alert-link { color:#fff; }
.alert-bg-white .icon { border:1px solid #bdbdbd; height:103%; left:-1px; padding-top:15px; position:absolute; text-align:center; top:-1px; width:45px; }
.alert-bg-white .icon i { color:#fff; font-size:20px; left:12px; margin-top:-10px; position:absolute; top:50%; }
.alert-bg-white.alert-primary .icon,.alert-bg-white.alert-primary .icon:after { background:#F56F6C; border-color:#F56F6C; }
.alert-bg-white.alert-success .icon,.alert-bg-white.alert-success .icon:after { background:#0FB492; border-color:#0FB492; }
.alert-bg-white.alert-info .icon,.alert-bg-white.alert-info .icon:after { background:#2FAFB0; border-color:#2FAFB0; }
.alert-bg-white.alert-warning .icon,.alert-bg-white.alert-warning .icon:after { background:#F9A646; border-color:#F9A646; }
.alert-bg-white.alert-danger .icon,.alert-bg-white.alert-danger .icon:after { background:#D44344; border-color:#D44344; }
.alert .icon-sign { color:rgba(0,0,0,0.2); display:inline-block; font-size:20px; margin-right:5px; text-align:center; vertical-align:middle; width:25px; }
.alert-primary { background:#F56F6C; color:#fff; border-color:#F56F6C; }
.btn-label { background:none repeat scroll 0 0 rgba(0,0,0,0.15); border-radius:3px 0 0 3px; display:inline-block; left:-18px; padding:8px 10px; position:relative; }
.btn-labeled { padding-bottom:0; padding-top:0; }
.btn-circle { border-radius:15px; font-size:12px; height:30px; line-height:1.42857; padding:6px 0; text-align:center; width:30px; }
.btn-circle.btn-lg { border-radius:25px; font-size:18px; height:50px; line-height:1.33; padding:10px 16px; width:50px; }
.btn-circle.btn-xl { border-radius:35px; font-size:24px; height:70px; line-height:1.33; padding:10px 16px; width:70px; }
.ds-btn .fa { font-size:47px; }
.navbar-nav .fa { font-size:16px; padding-right:5px; }
.navbar-success { background-color:#0FB492; border:medium none; }
.tab-content { background:#F5F5F5; padding:10px; }
.multiple-select .bs-example { padding-bottom:10px; clear:both; }
.multiple-select .row { margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #ccc; height:80px; padding-top:10px; }
.multiselect { margin-bottom:10px; }
.date-time-picker .form-control-dr { border-radius:4px; border:1px solid #ccc; padding:5px; width:60%; }
.fuelux #source-button { z-index:5000; }
.fuelux .wizard { background:#fff !important; }
.fuelux .wizard .steps li.active .badge { background-color:#f56f6c !important; }
.fuelux .wizard .steps li.complete { background:#F7F9F9 !important; color:#0FB492 !important; }
.fuelux .wizard .steps li .badge-success { background:#0FB492 !important; }
.fuelux .wizard .steps li.complete .chevron:before { border-left:14px solid #F7F9F9 !important; }
.fuelux .wizard .steps li.active { color:#f56f6c !important; background:#FCF9F9 !important; }
.fuelux .wizard .steps li.active .chevron:before { border-left:14px solid #FCF9F9 !important; }
.wizard .btn { border:none !important; padding:7px 15px; margin-bottom:3px; }
.btn-labeled { margin-bottom:5px; }
.navmenu-inverse .navmenu-nav > li > a { background:#222 !important; }
.navmenu-inverse .navmenu-nav .active > a { background:#000 !important; }
.masking-input .form-group { overflow:hidden; }
.left-inner-icon .form-control { padding-left:35px; }
.btn-label { left:-19px !important; }
.btn-label.btn-label-right { right:-19px !important; left:auto !important; }
.bootstrap-switch { border-radius:20px !important; min-width:70px !important; }
.bootstrap-switch.bootstrap-switch-small { min-width:55px !important; font-size:11px !important; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary { background:#F56F6C !important; border-radius:20px; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info { background:#F9A646 !important; border-radius:20px; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success { background:#0FB492 !important; border-radius:20px; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning { background:#F9A646 !important; border-radius:20px; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger { background:#D44344 !important; border-radius:20px; }
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default { border-radius:20px; }
.bootstrap-switch .bootstrap-switch-label{background:none !important;}
.bootstrap-switch.bootstrap-switch-large { min-width:90px !important; }
.input-group-addon.primary { color:#fff; background-color:#F56F6C; border-color:#F56F6C; }
.input-group-addon.success { color:#fff; background-color:#0FB492; border-color:#0FB492; }
.input-group-addon.info { color:#fff; background-color:#F9A646; border-color:#F9A646; }
.input-group-addon.warning { color:#fff; background-color:#F9A646; border-color:#F9A646; }
.input-group-addon.danger { color:#fff; background-color:#D44344; border-color:#D44344; }
.shape { border-style:solid; border-width:0 40px 40px 0; float:right; height:0; width:0; -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
.shape-text { color:#fff; font-size:12px; font-weight:700; position:relative; right:-22px; top:-3px; white-space:nowrap; -ms-transform:rotate(30deg); -o-transform:rotate(360deg); -webkit-transform:rotate(46deg); transform:rotate(46deg); }
.offer { background:#fff; border:1px solid #ddd; box-shadow:0 10px 20px rgba(0,0,0,0.2); margin:15px 0; overflow:hidden; }
.shape { border-color:rgba(255,255,255,0) #D44344 rgba(255,255,255,0) rgba(255,255,255,0); }
.offer-radius { border-radius:7px; }
.offer-danger { border-color:#D44344; }
.offer-danger .shape { border-color:transparent #D44344 transparent transparent; }
.offer-success { border-color:#0FB492; }
.offer-success .shape { border-color:transparent #0FB492 transparent transparent; }
.offer-default { border-color:#ccc; }
.offer-default .shape { border-color:transparent #ccc transparent transparent; }
.offer-primary { border-color:#F56F6C; }
.offer-primary .shape { border-color:transparent #F56F6C transparent transparent; }
.offer-info { border-color:#5bc0de; }
.offer-info .shape { border-color:transparent #5bc0de transparent transparent; }
.offer-warning { border-color:#F9A646; }
.offer-warning .shape { border-color:transparent #F9A646 transparent transparent; }
.offer-content { padding:0 20px 10px; }


/* Alertify CSS */

.alertify-log{}
.alertify-log-custom{background:#3498DB !important; color:#fff !important; text-shadow:none !important; border:1px solid #2E86C1 !important;}

/* Calculation form styles */

.clear_b{
    clear: both;
}
.form_wrapper{
    background: #fff;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 15px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3);

}
.measurement{
    position: relative; 
}
.measurement .unit{
    display: block;
    position: absolute; 
    top: 36px;
    left: 38px;
    color: rgba(0,0,0,0.5);
    transition: all 0.5s;
}
.measurement .unit.c_1{
    left:25px;
}
.measurement .unit.c_2{
    left:35px;
}
.measurement .unit.c_3{
    left:45px;
}
.measurement .unit.c_4{
    left:55px;
}
.measurement .unit.c_5{
    left:60px;
}
.measurement .unit.c_6{
    left:65px;
}
.measurement .unit.c_7{
    left: calc(100% - 55px);
}
.measurement input:focus + .unit{
    left: calc(100% - 55px);
}


.form_wrapper span.error{
    color: red;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    display: inline-block;  
}
.form_wrapper .custom-checkbox span.error{
	clear: both;
	display: block;	
	margin-top: 4px;
}



.form_wrapper input[type="file"] {
   text-align: right !important;
    border: none;
    /* font-size: 0; */
    cursor: pointer;
    /* text-indent: -9000px; */
    position: absolute;
    top: 0;
    left: -109px;
    width: calc(100% + 109px);
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    /* opacity: 0; */
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block;
}
.form_wrapper .file{
    height: 42px;
    overflow: hidden;
    position: relative;
}   
label.custom-checkbox {
    padding-left: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox .custom-control-indicator {
    border-radius: .25rem;
}
.custom-control-indicator {
    position: relative;
    margin-right: 1rem;
    float: left;
}
.custom-control-indicator {
    width: 18px;
    height: 18px;
    border: 1px solid #697982;
    background: rgba(255,255,255,.5);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    background: #8dc152;
    border-color: #8dc152;
}
.custom-control-indicator:before {
    display: block;
    width: 11px!important;
    height: 7px!important;
    content: ""!important;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    -webkit-transform: rotate(-45deg) translate(0,4px);
    transform: rotate(-45deg) translate(0,4px);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:before {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.bg_black{
    background: #000;
    color: #fff;
    float: left;
    padding: 10px;
    margin-bottom:  20px;
}
.bg_black .large{
    font-size:  20px;
    font-weight: bold;
    margin-right:  5px;
    display: inline-block;  
}
.sidebar .form_wrapper .clear_b .col-xs-6:nth-child(2n + 1){
	clear:left;
}
/* styles for sidebar form */
@media screen and (min-width: 992px) {
    .sidebar .form_wrapper .clear_b .col-xs-6{
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .sidebar.col-lg-3 .form_wrapper .clear_b .col-xs-6{
    	width: 100%;
    }
}
/*@media screen and (max-width: 1200px) and (min-width: 992px) {
    .sidebar .form_wrapper .clear_b .col-xs-6{
        width: 100%;
    }
}*/

/* end styles for sidebar form*/

@media screen and (max-width: 360px) {
    .clear_b .col-xs-6{
        width: 100%;
    }
   
}

/* END OF Calculation form styles */
